table {
  border: 1px solid black;
  width: 700px;
  margin-left: 25px;
    margin-right: 25px;
}

tr:nth-child(odd) {background-color: #f2f2f2;}

th, td {
    width: 100px;
}

#monthlyTotalSalary{
    width: 700px;
    margin-left: 25px;
    margin-right: 25px;
}

#submitter{
 margin-top: 25px;
}

#body{
    width: 700px;
    text-align: center;
    
}

#form{
    text-align: center;
    width: 700px;
    margin: 25px;
}

.delete{
    text-align: center;
    
}